/* Google FONT importálása */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  /* border: 1px solid black; */
}

/* DIOR cím a lap tetején */
.cim {
  text-align: center;
  font-size: 48px;
  letter-spacing: 6px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #000;
  font-family: "Playfair Display", serif;
}

/* FŐ KONTÉNER — középre rendezve */
.termek-kontener {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px; 
  max-width: 100%;
  margin-left:95px ;
  padding: 10px;
  flex-wrap: wrap;
}

/* BAL oldali kép */
.termek-kep {
  flex: 500px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 70px 340px; 
  border-radius: 8px;
}

.termek-kep img {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

/* JOBB oldali adatok */
.termek-adatok {
  flex: 1 1 350px;
  font-family: "Playfair Display", serif;
  float: right;
}

.termek-adatok h2 {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

.ar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 130px;
    padding-right: 110px;
}


.fajta {
    padding-top: 1px;
}

.nev {
  margin-top: 20px;
    padding-bottom:  auto;
}

.fajta:hover {
    text-decoration: underline;
}

.nev:hover {
    text-decoration: underline;
}

.termek-adatok p {

  color: #555;
  line-height: 1.6;
}

.termek-ar{
  font-size: 30px;
  font-weight: 700;
  margin-top: 170px;
  color: #000;
}

/* Vásárlás gomb */
.vasarlas-gomb {
  margin-top: 10px;
  padding: 14px 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0s;
  width: 300px;
  margin-left: 55px;
  height: 20%;
  
}

.darab {
    font-size: 13px;
    width: 65px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    border: 3   px solid black;
}

.vasarlas-gomb:hover {
  background: white;
  color: black;
  border: #000 solid 1px;
  width: 300px;
  height: 20%;
}

table {
    width: 60%;
    margin-bottom: 60px;
    font-weight: bolder;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: 7%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
}

td {
    background-color: #e7e7e796;
    color: #555;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #d8d8d8;
    transition: background-color 0.3s;
}

table, th, td {
    border: 1px solid #d4d4d4c9;
}

.leirasok {
  padding-left: 110px;
  padding-right: 350px;
  font-size: 20px;
  margin-bottom: 90px;
  text-align: justify;
  padding-left: 18%;
}


.szag {
  margin-top: 80px;
  margin-left: 110px;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 12px;
}

.kedvenc img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1460px) { 
  .termek-ar {
    margin-top: 0px;
  }

  .ar {
    padding-top: 0px;
    padding-right: 0px;
    
  }

  .termek-kep  {
    width: 80%;
  }

  .szag {
    font-size: 185%;
  }

  .termek-ar  {
    margin-right: 15%;
  } 

}

@media screen and (max-width: 1450px) { 
  .termek-ar {
    margin-top: 0px;
  }

  .ar {
    padding-top: 0px;
    padding-right: 0px;
    
  }

  .termek-kep  {
    width: 60%;
    padding: 0;
  }


  .szag {
    font-size: 185%;
  }

  .termek-ar  {
    margin-right: 10%;
  } 

}

@media screen and (max-width: 1200px) {
 .termek-ar {
    margin-top: 0px;
  }

  .ar {
    padding-top: 0px;
    padding-right: 0px;
    
  }

  .termek-kep  {
    width: 60%;
    padding: 0;
    margin-right: 7%;
  }


  .szag {
    font-size: 185%;
  }

  .termek-ar  {
    margin-right: 10%;
  } 
}

@media screen and (max-width: 1000px) {
 .termek-ar {
    margin-top: 0px;
  }

  .ar {
    padding-top: 0px;
    padding-right: 0px;
    
  }

  .termek-kep  {
    width: 60%;
    padding: 0;
    margin-right: 7%;
  }


  .szag {
    font-size: 185%;
  }

  .termek-ar  {
    margin-right: 10%;
  } 

}

@media screen and (max-width: 700PX) {
 .termek-ar {
    margin-top: 0px;
  }

  .ar {
    padding-top: 0px;
    padding-right: 0px;
    margin-right: 15%;
    
  }

  .termek-kep  {
    width: 60%;
    padding: 0;
    margin-right: 15%;
  }


  .szag {
    font-size: 185%;
  }

  .termek-ar  {
    margin-right: 10%;
  } 

  .leirasok {
    width: 100%;
    margin: 0;
    padding: 0 15px 15px 15px;
  }

}