/* A teljes oldal kitöltése */
/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */
.page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Tartalom kitöltse a helyet, footer pedig alul maradjon */
.content-wrap {
    flex: 1;
}

/* Footer stílus */
.lab-hatter {
    /* width: 100%; */
    background: #000000;
    color: #fff;
    padding: 40px;
    box-sizing: border-box;
    margin-top: auto; /* <<< EZ TOLJA LE A LEGALJÁRA */
}


.labjegyzet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
}

.labjegyzet h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.kerdesek, .fontos {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.linkek {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.linkek a {
    color: #cfcfcf;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.2s ease;
}

.linkek a:hover {
    color: #ffffff;
    text-decoration: underline;
}


@media screen and (max-width: 1250px) { 
  .labjegyzet {
    width: 100%;
  }

  .kerdesek {
    max-width: 100%;
  }
  
.linkek {
  gap: 1vh;
  }
}

@media screen and (max-width: 1050px) { 
  .labjegyzet {
    width: 100%;
  }

  .kerdesek {
    max-width: 100%;
  }

.linkek {
  gap: 1vh;
  }
}

@media screen and (max-width: 750px) { 
  .labjegyzet {
    width: 100%;
    flex-direction: column;
  }

  .kerdesek {
    max-width: 100%;
    font-size: 10px;
  }

.linkek {
  gap: 1vh;
  font-size: 10px;
  }

  .labjegyzet h1 {
    font-size: 25px;
  }

  .termek-kontener {
    margin-right: 0px;
    padding-right: 0px;
  }
}