<div id="nav-kontener">
    <li><a href="/api">Főoldal</a></li>
    <li><a href="/api/parfumes-backend">Parfümök</a></li>
    <li><a href="/api/users-backend">Felhasználok</a></li>
    <li><a href="http://localhost:5173">Kliens</a></li>
</div>
