.main-resz3 {

    margin-left: 20%;
    margin-right: 20%;
}

.main-resz3 h1 {
    margin-top: 40px;
    margin-bottom: 5%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

p {
     font-size: 20px;
     margin-bottom: 40px;
     margin-top: 40px;
     text-align: justify;
}