.main-kontener {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
}
.armani-tartalom-kontener {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
}

/* Egyes parfümkártyák */
.armani-tartalom-kontener {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 16px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 250px;
  height: 330px;
}


/* Név */
.armani-tartalom-kontener h1 {
  font-size: 16px;
  color: #222;
  margin: 10px 0 6px;
  font-weight: 600;
}

/* Fajta (pl. Eau de Toilette) */
.armani-tartalom-kontener p:first-of-type {
  font-size: 13px;
  color: #777;
  margin: 0 0 6px;
}

/* Ár */
.armani-tartalom-kontener p:nth-of-type(2) {
  font-size: 17px;
  color: #000;
  font-weight: 700;
  margin: 0 0 10px;
}

/* Kép */
.armani-tartalom-kontener img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-top: 8px;
}

/* Hoverkor finom nagyítás */
.armani-tartalom-kontener:hover img {
  transform: scale(1.05);
}

.armani-tartalom-kontener:hover h1 {
  text-decoration: underline;
}



