
.kosar-kontener {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: space-between; 
    padding: 20px 0;
    border-bottom: 2px solid #9e9e9e62;
    font-family: sans-serif;
    gap: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

.kosar-kontener img {
    width: 65px;
    height: 123px;
    margin-right: 20px;
}

.kosar-kontener h1 {
    display: flex;
    /* flex: 1; */
    justify-content: space-between; 
    align-items: center;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.kosar-kontener button {
       border: none;
    background-color: rgb(52, 52, 52);
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
    padding: 1%;
}


.gombok {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-decoration: none;
    justify-content: space-between;
    /* border: #333 1px solid; */
    padding: 3%;
    
}

.gombok button {
    text-decoration: none;
    padding: 1%;
    background-color: #333;
    color: white;
    
    
}

.gombok a {
    text-decoration: none;
    color: white;
}

.gombok button :hover {
    text-decoration: underline;
    font-weight: bolder;
}

/* .teljesOsszeg {
    text-align: center;
    margin-top: 2%;
} */