
.kosar-kontener {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: flex-end; 
    padding: 20px 0;
    border-bottom: 2px solid #9e9e9e62;
    font-family: sans-serif;
    gap: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

.kosar-kontener img {
    width: 65px;
    height: 123px;
    margin-right: 20px;
}

.kosar-kontener h1 {
    display: flex;
    /* flex: 1; */
    justify-content: space-between; 
    align-items: center;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.kosar-kontener button {
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
}


