/* Oldal fő címe és üres kosár szövege */
.szoveg {
    text-align: center;
    padding-top: 5%;
    font-weight: bolder;
    font-size: larger;
    font-family: sans-serif;
}

.kosar-kontener {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 0;
    border-bottom: 2px solid #9e9e9e62;
    font-family: sans-serif;
    gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.kosar-kontener img {
    width: 65px;
    height: 123px;
    object-fit: contain;
}

.kosar-kontener p {
    font-size: 18px;
    margin: 0;
}

.kosar-kontener button {
    border: none;
    background-color: rgb(52, 52, 52);
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    padding: 10px 15px;
}

.kosar-kontener button:hover {
    background-color: #000;
}


.gombok {
    display: flex;
    align-items: center;
    justify-content: space-between;


    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px
}

.gombok button {
    list-style-type: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
}

.gombok a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .kosar-kontener img {
        width: 15%;
        height: 30%;

    }

    .kosar-kontener p {
        font-size: 15px;
        text-align: center;
    }

    .kosar-kontener button {
        font-size: 12px;
        
        display: grid;
        
        
    }

    .kosar-kontener {
        /* display: inline; */
        flex-direction: column;
        border: none;
    }

    .gombok button {
        font-size: 10px;
    }

    .gombok p {
        font-size: 15px;
        margin-left: 6px;
        margin-right: 10px;
    }
}