 @import url('../components/Footer.css');
 
 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
    }

    body {
      background-color: white;
    }

    header {
      background-color: black;
      color: rgb(255, 255, 255);
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    /* Link {
      text-decoration: none;
    } */

    .logo {
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 23px; 
      /* background: linear-gradient(to right,
      red blue lightblue blue red);
     -webkit-background-clip:text ;
     background-clip:text ;
     -webkit-text-fill-color: transparent; */
     
    }

    .search-bar input {
      padding: 8px;
      width: 960px;
      height: 45px;
      border: none;
      border-radius: 5px;
    }

    .icons {
      display: flex;
      gap: 30px;
      font-size: 30px;
      cursor: pointer;
    }
    

    .icons img {
        width: 25px;
        height: 25px;
    }

    .navbar {
      background-color: black;
      display: flex;
      justify-content: center;
      gap: 55px;
      padding: 10px 0;
      height: 60px;
    }

    .navbar button {
      background-color: black;
      color: white;
      border: none;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 17px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .navbar button:hover {
      background-color: #444;
    }

    .product-grid {
      display: flex;
      justify-content: center;
      gap: 160px;
      padding: 30px 20px;
      flex-wrap: wrap;
    }

    .product {
      text-align: center;
      width: 150px;
    }

    .product img {
      width: 112px;
      height: 220px;
    }

    .product-name {
      font-weight: bold;
      margin: 10px 0 5px;
      font-size: 22px;
    }

    .price {
      color: #000;
      font-weight: bold;
      font-size: 18px;
    }

    .brand-icons {
        display: flex;
      justify-content: space-around;
      padding: 20px;
    }

    .brand-icons img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 2px solid #000;
      gap: 80px;
    }

    .tovabbi {
       
    background-color: black;
      color: white;
      border: none;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      
    }


    .tovabbi:hover {
        background-color: #444;
        width: 100%;
    }

    .product-grid {
        color: #000;
        text-decoration: none;
    }

    .product-name:hover {
        text-decoration: underline;
    }

    .navbar a, .logo a{
      text-decoration: none;
      color: white;
      font-size: 70x;
      font-weight: bold;
    }

    .navbar a:hover, .navbar a:hover {
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        position: static;
    }

    .kosarErtek-tarto {
      position: relative;
    }

    .kosarErtek {
      border-radius: 50%;
      /* background-color: #fff;
      color: black; */
      font-size: 15px;
      position: absolute;
      top: 0px;
      right: -8px;
      font-weight: bolder;
    }

@media screen and (max-width: 750px) {
  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .logo {
    font-size: 24px;
    letter-spacing: 10px;
  }

  .search-bar input {
    width: 100%;
    max-width: 100%;
    height: 40px;
  }

  .icons {
    gap: 20px;
    font-size: 24px;
  }

  .navbar {
    flex-wrap: wrap;
    gap: 15px;
    height: auto;
    padding: 10px;
  }

  .navbar button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .product-grid {
    gap: 40px;
    padding: 20px 10px;
  }

  .product {
    width: 120px;
  }

  .product img {
    width: 90px;
    height: 180px;
  }

  .product-name {
    font-size: 18px;
  }

  .price {
    font-size: 16px;
  }

  .brand-icons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .brand-icons img {
    width: 120px;
    height: 120px;
  }

  .tovabbi {
    width: 100%;
    font-size: 16px;
  }

  .navbar a, .logo a {
    font-size: 16px;
  }

  .navbar a:hover {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .kosarErtek-tarto {
    position: relative;
  }

  .kosarErtek {
    font-size: 12px;
    top: -4px;
    right: -6px;
  }


}    