/* Oldal fő konténer */
.kedvencek-oldal {
    font-family: sans-serif;
}

/* Oldalcím */
.kedvencek-oldal h1 {
    text-align: center;
    margin-top: 2%;
    
}

/* A kedvencek listája (EZ volt eddig hiányzó célpont) */
.kedvencek-lista {
    margin-left: 15%;
    margin-right: 15%;
}

/* Egy kedvenc termék kártyája */
.kedvenc-kartya {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #9e9e9e62;
    gap: 100px;
}

/* Termék képe */
.kedvenc-kartya img {
    width: 65px;
    height: 123px;
    margin-right: 20px;
}

/* Termék neve */
.kedvenc-kartya h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

/* Ár (p tag a JSX miatt) */
.kedvenc-kartya p {
    margin: 0;
}

/* Eltávolítás gomb */
.kedvenc-kartya button {
    border: none;
    background-color: rgb(52, 52, 52);
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
    padding: 1%;
}

/* Hover opcionális
.kedvenc-kartya button:hover {
    color: red;
}
*/

.kiiras {
    text-align: center;
    font-weight: bolder;
    padding-top: 4%;
    font-size: larger;
}