@media screen and (max-width: 500px) {
 h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
 }

    .parfumbubi-kontener {
     display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
margin: 0 auto;
  background-color: #fff;
    }

    .parfum-egyedikontener{
      margin-left: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 0px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 200px;
    }

    .parfum-egyedikontener img{
  width: 50%;
  height: 130px;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-top: 8px;
    }

    a {
        text-decoration: none;
        color: black;
    }
}